# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel

### Laravel ###
/bootstrap/cache/
/bootstrap/ssr/
/database/database.sqlite
/database/schema/mysql-schema.dump
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/app/
/storage/app/public/
/storage/debugbar/
/storage/framework/
/storage/logs/
/storage/oauth-private.key
/storage/oauth-public.key
/vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
Mix.lock
npm-debug.log
phpunit.xml
yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/laravel